html {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  min-width: 114px;
}

nav ul li a {
  color: #fff;
}

a {
  color: #fff;
}

h3 {
  color: #fff;
}

.ask {
  color: #fff;
}

.box {
  background-color: #1d3557;
  border: solid 4px #fff;
}

.logo-circle {
  max-width: 60px;
}

nav ul li {
  background-color: #000;
}

.nav [type="checkbox"] + label::before {
  top: -10em;
}

label {
  z-index: 3000;
}

.tour-p {
  width: 40%;
  display: inline-block;
}

.nav-nav {
  display: none;
}

.nav-check:checked ~ .nav-nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
  visibility: hidden;
}

.nav-label img {
  display: block;
  width: 100%;
}

.banner-content {
  color: #fff;
  width: 100%
}

.btn-new {
  padding: 1em;
  color: #000;
  background-color: #a8dadc;
  border: solid 4px #ed2024;
}

li a:hover {
  background-color: #fff;
  color: #000;
}

.logo {
  max-width: 128px;
}

.icon-fill {
  max-width: 100px;
}

.placeholder {
  max-width: 114px;
}

.people-said {
  background-color: #1d3557;
  color: #fff;
}

.footer {
  background-color: #1d3557;
  color: #fff;
}

.wrapper a {
  color: #fff;
}

.bg-tours {
  background-image: url(../images/circle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.App {
  background-color: #f2f2f2;
}

table {
  min-width: 50em;
}

.mint {
  width: 10em;
}

.harvest {
  width: 10em;
}

.wallet {
  width: 10em;
}

.slow {
  width: 10em;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
