html {
  font-family: 'Montserrat', sans-serif;
}

.card {
  border: solid 1px #000;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #1d3557;
}

.banner-content {
  color: #fff;
  width: 100%
}

.btn-new {
  padding: 1em;
  color: #000;
  background-color: #a8dadc;
  border: solid 4px #ed2024;
}

a:hover {
  border-bottom: solid 4px #000;
}

.logo {
  max-width: 128px;
}

.icon-fill {
  max-width: 100px;
}

.placeholder {
  max-width: 114px;
}

.people-said {
  background-color: #1d3557;
  color: #fff;
}

.wrapper {
  background-color: #1d3557;
  color: #fff;
}

.wrapper a {
  color: #fff;
}
